@* Pizza/Index *@


<div class="row bg-dark">
    <div class="col-sm-6" v-for="pizza in pizzas" :key="pizza.name">
        <div class="card">
            <div class="card-body">
                <small class="card-text">Menu nr: {{ pizza.id }}</small>
                <h1 class="card-title h1 text-black-50" v-if="!winner">{{ pizza.name }}</h1>
                <h1 class="card-title h1 text-success" v-if="winner">{{ pizza.name }} WON!!</h1>
                <img class="card-img img-even" v-bind:src="pizza.image" />
                <p class="card-text" v-if="pizza.hypeLevel < 10">Hypelevel: {{ pizza.hypeLevel }}</p>
                <h5 class="card-text text-info" v-if="pizza.hypeLevel == 10">Hypelevel {{ pizza.hypeLevel }} : maxxed out!</h5>
                <p class="card-text text-info" v-if="pizza.hypeLevel > 10">Tried to increment hypelevel but its already maxxed!</p>
                <p class="card-text">Toppings:</p>
                <ul class="card-text" v-for="topping in pizza.toppings">
                    <li>
                        <p class="list-group-item">{{ topping }}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="list-group-item" v-model="selected">Added: {{ selected }}</p>
                    </li>
                </ul>

                <div class="card-columns">

                    <p class="card-text text-info">Add topping ? -></p>
                    <topping-checkbox v-model="addTopping" class="form-check-input">
                        @* vue-component *@
                    </topping-checkbox>

                    <add-toppings 
                                  v-for="topping in additionalToppings"
                                  v-bind:key="topping.text"
                                  v-bind:topping="topping"
                                  v-on:click="topping">
                        @* vue-component - 
                              needs some work to check if the checkbox is checked
                            + this needs a func that will add the topping to selected *@
                    </add-toppings>

                    <add-sauces>
                        @* vue-component *@
                    </add-sauces>
                </div>
                <div class="card-columns">
                    <a class="btn btn-success" v-if="!winner" v-on:click="winnerPizza(pizza.name)">Set as winner</a>
                    <a class="btn btn-warning" v-if="!winner" v-on:click="deletePizza(pizza.name)">Delete this shit</a>
                    <a class="btn btn-info" v-if="counter > 0" v-on:click="getData()">Give me more</a>
                </div>
            </div>
        </div>
    </div>
    <small class="text-muted">{{ message }}</small>
</div>


@section scripts {
    <script src="~/js/app.js" asp-append-version="true"></script>
} 