@* Pizza/Index *@
@model PizzaWars.Models.PizzaModel


<div class="row bg-dark">
    <div class="col-sm-6" v-for="pizza in pizzas" :key="pizza.name">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title" v-on:click="deletePizza(pizza.name)">{{ pizza.name }}</h1>
                <p class="card-subtitle">Menu nr: {{ pizza.id }}</p>
                <img class="card-img-top" v-bind:src="pizza.image"/>
                <p class="card-text">Hipsterlevel: {{ pizza.hypeLevel }}</p>
                <p class="card-text">Toppings:</p>
                <ul class="card-text" v-for="topping in pizza.toppings">
                    <li>
                        {{ topping }}
                    </li>
                </ul>
                <a class="card-footer btn btn-outline-success" v-on:click="winner()">Set as winner</a>
            </div>
        </div>
    </div>

</div>


@section scripts {
    <script src="~/js/app.js" asp-append-version="true"></script>
} 