@* Home/Index *@

<div class="h-100 text-center">
    <h1 class="h1 text-black-50">Är du redo för en sjujävla pizza tävling?!</h1>
</div>
<div class="h-100 text-center">
    <p class="text-info">
        Klicka
        <a class="btn btn-info" asp-controller="Pizza" asp-action="Index">
            här för att starta
        </a>
        Pizza Wars!
    </p>
</div>
<div class="text-center">
    <a asp-controller="Pizza" asp-action="Index"><img class="img-fluid" src="/img/PizzaWars.svg" /></a>
</div>


@*<div class="row bg-dark">
    <div class="col-sm-6" v-for="pizza in homePizza">
        <div class="card">
            <div class="card-body">             
                <img class="card-img-top" v-bind:src="pizza.image" />
            </div>
        </div>
    </div>
</div>*@


@section scripts {
    <script src="~/js/app.js" asp-append-version="true"></script>
}



