@* Home/Index *@

<div class="text-center">
    <h1 class="h1 text-black-50">Är du redo för en sjujävla pizza tävling?!</h1>
    <p class="text-center">
        Klicka
        <a class="btn btn-info" asp-controller="Pizza" asp-action="Index">
            här för att starta
        </a>
        Pizza Wars!
    </p>
</div>



